/* your code */
.table{
	border:1px solid black;
	border-spacing:0;
	border-radius:10px;
	overflow:hidden;
}
.head{
	background-color:blue;
	color:white;
}
tbody tr:nth-child(odd){
	background-color:green;
}